.wrapper {
    padding: 8px 8px 16px;
    margin-top: auto;
    margin-bottom: auto;
}

.title {
    font-size: 25px;    
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: var(--gray);
}