.wrapper {
  padding: 8px 8px 16px;
  background: #fff;
  border-bottom: 1px solid var(--gray);
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;
}

.headingWrapper {
  display: flex;
  align-items: center;
  gap: 8px;
}

.description {
  color: var(--text-dark-gray);
}

.content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  gap: 1px;
  background: var(--gray);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}